<img id="camerastream-image" src="/api/plugin/camerastream?snapshot"  alt="Camera Stream" onload="setInterval(() => {if (document.getElementById('webcam_plugin_camerastream').className.includes('active')){this.src = this.src}; this.onload = null}, function(){ a=15; OctoPrint.settings.getPluginSettings('camerastream').done(function(x){a=x['fps']}); a)">
