<img id="camerastream-image" src="/api/plugin/camerastream?snapshot"  alt="Camera Stream" onload="OctoPrint.settings.getPluginSettings('camerastream').done(function(x){setInterval(() => { if (document.getElementById('webcam_plugin_camerastream').className.includes('active')){ this.src = this.src }; this.onload = null}, 1000.0 / x['fps'])})">
